/* TAGS */
* {margin:0;padding:0}
html {min-width:940px}
body {background:url(images/tail-top.gif) repeat-x left top #fff;font-family:Tahoma,Arial,helvetica,sans-serif;font-size:100%;line-height:2em;color:#000000;min-width:940px}
object {vertical-align:top;outline:none}
input,textarea,select {font-family:Tahoma,Arial,helvetica,sans-serif;font-size:1em;vertical-align:middle;font-weight:normal}
fieldset {border:0}

/*img {border:0;vertical-align:top;text-align:left}*/
ul,ol {list-style:none}
/* GLOBAL */
#main {width:940px;margin:0 auto}
#header,#content,#footer {font-size:0.75em}
.col-1,.col-2,.col-3 {float:left}
#content .col-1 {width:526px;padding:12px 0}
#content .col-2 {width:305px;float:right}
/* ALIGMENT */
.fleft {float:left}
.fright {float:right}
/* HEADER */
#header {height:150px;position:relative}
#header .row-1 {height:88px}
#header .row-1 .fleft {padding:20px 0 0 22px}
#header .row-1 .fright {padding:34px 34px 0 0}
#header .row-1 .fright ul li {float:left;padding-left:23px}
#header .row-2 {background:url(images/nav-tail.gif) repeat-x left top;margin-bottom:-3px;position:relative}
#header .row-2 .left {background:url(images/nav-left.gif) no-repeat left top}
#header .row-2 ul {height:58px;width:100%;overflow:hidden;background:url(images/nav-right.gif) no-repeat right top}
#header .row-2 ul li {float:left;text-transform:uppercase;font-size:16px;line-height:1.2em;background:url(images/divider.gif) no-repeat right 4px;padding:4px 2px 0 0}
#header .row-2 ul li.last {background:none;padding-right:0}
#header .row-2 ul li.last a {width:188px}
#header .row-2 ul li a {text-decoration:none;color:#fff;width:186px;text-align:center;display:block;padding:14px 0 0 0;cursor:pointer;background:url(images/spacer.gif)}
#header .row-2 ul li a span {display:block;height:40px}
#header .row-2 ul li a:hover,
#header .row-2 ul li a.active {background:url(images/nav-act.png) repeat-x left top}
#header .row-2 ul li a:hover span,
#header .row-2 ul li a.active span {background:url(images/nav-arrow.gif) no-repeat center bottom}
#header .row-3 {height:276px;overflow:hidden;background:url(images/header-tail.gif) repeat-x left top}
#header .row-3 .inside {padding:35px 0 0 50px;width:350px;position:relative;z-index:2}
#header .row-3 .inside p {color:#ffffff;line-height:1.5em}
#header .extra {position:absolute;left:0;top:142px}
/* CONTENT */

/* FOOTER */
#footer .footer-nav {background:url(images/footer-nav-tail.gif) repeat-x left top}
#footer .footer-nav .left {background:url(images/footer-nav-left.gif) no-repeat left top}
#footer .footer-nav ul {width:100%;overflow:hidden;padding:15px 0 16px 0;background:url(images/footer-nav-right.gif) no-repeat right top}
#footer .footer-nav ul li {float:left;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:1em;border-right:1px solid #fff;padding:0 59px}
#footer .footer-nav ul li.last {border:0}
#footer .footer-nav ul li a {color:#fff}
#footer .bottom {background:url(images/footer-tail.gif) repeat-x left top #000;text-align:center;color:#fff;line-height:1.67em;padding:18px 0 23px 0}
#footer a {color:#4399e6}

.accordion h3 + div {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
}

.accordion :target h3 + div {
    height: 100px;
}

.accordion .section.large:target h3 + div {
    overflow: auto;
}


.frame-block {
    position: relative;
    display: block;
    height:140px;
    width: 880px;
}

.frame-block span {
    background: url(/media/images/frame.png) no-repeat center top;
    height:140px;
    width: 173px;
    display: block;
    position: absolute;
}