{% load cms_tags sekizai_tags %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>Продукция | UaTuning.com.ua</title>
{% render_block "css" %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="uatuning.com.ua" />
<meta name="keywords" content="auto tuninnig" />
<meta name="author" content="RostNix" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link href="/media/product.css" rel="stylesheet" type="text/css" />
<script src="/media/js/cufon-yui.js" type="text/javascript"></script>
<script src="/media/js/cufon-replace.js" type="text/javascript"></script>
<script src="/media/js/AZLatinWideC_400.font.js" type="text/javascript"></script>
<script src="/media/js/AZLatinWideC_400.font.js" type="text/javascript"></script>
<script src="/media/js/AZLatinWideC_400.font.js" type="text/javascript"></script>
<script src="/media/js/AZLatinWideC_400.font.js" type="text/javascript"></script>
<script src="/media/js/AZLatinWideC_400.font.js" type="text/javascript"></script>
<script src="/media/js/script.js" type="text/javascript"></script>
<!--[if lt IE 7]>
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		 ie_png.fix('.png, #header .row-2 ul li a, .extra img, #search-form a, #search-form a em, #login-form .field1 a, #login-form .field1 a em, #login-form .field1 a b');
	</script>
	<link href="ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page3">
<div id="main">
<!-- HEADER -->
	<div id="header">
		<div class="row-1">
			<div class="fright">
				<ul>
					<li><a href="home.html"><img src="/media/images/icon1.gif" alt="" /></a></li>
					<li><a href="contact-us.html"><img src="/media/images/icon2.gif" alt="" /></a></li>
					<li><a href="sitemap.html"><img src="/media/images/icon3.gif" alt="" /></a></li>
				</ul>
			</div>
		</div>
		<div class="row-2">
			<div class="left">
				<ul>
					<li><a href="/" class="active"><span>Главная</span></a></li>
					<li><a href="/about"><span>О нас</span></a></li>
					<li><a href="/articles"><span>Продукция</span></a></li>
					<li><a href="/contact-us"><span>Контакты</span></a></li>
					<li class="last"><a href="/sitemap"><span>Карта сайта</span></a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- CONTENT -->
			<div class="wrapper">
                <script>
                    $(document).ready(function() {
                        $("#accordion").accordion();
                    });
                </script>

                <div id="accordion">
                    <h3><a href="#">Кенгурятник</a></h3>
                    <div>
                        {% for kung_data in kung %}
                                <div class="frame-block">
                                    <span>&nbsp;</span>
                                    <img style="float: left; margin-right: 20px" id="img1" src="{{ MEDIA_URL }}{{ kung_data.image }}">
                                    <p>{{ kung_data.long_desc}}</p>
                                </div>
                        {% endfor %}
                    </div>
                    <h3><a href="#">Section 2</a></h3>
                    <div>
                        <p>
                            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                            suscipit faucibus urna.
                        </p>
                    </div>
                    <h3><a href="#">Section 3</a></h3>
                    <div>
                        <p>
                            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                        </p>
                        <ul>
                            <li>List item one</li>
                            <li>List item two</li>
                            <li>List item three</li>
                        </ul>
                    </div>
                    <h3><a href="#">Section 4</a></h3>
                    <div>
                        <p>
                            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                            mauris vel est.
                        </p>
                        <p>
                            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos.
                        </p>
                    </div>
                </div>


            </div>
<!-- FOOTER -->
	<div id="footer">
		<div class="footer-nav">
			<div class="left">
				<ul>
					<li><a href="/">Главная</a></li>
					<li><a href="/about">О нас</a></li>
					<li><a href="/articles">Продукция</a></li>
					<li><a href="/contacts-us">Контакты</a></li>
					<li class="last"><a href="/sitemap">Карта сайта</a></li>
				</ul>
			</div>
		</div>
		<div class="bottom">Copyright - UaTuning.com.ua 2011<br />
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
{% render_block "js" %}
</body>
</html>
